@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background: #fafafa;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

div#root {
    display: flex;
    justify-content: center;
}

div.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 500px;
    padding: 50px;
}

.input-box {
    margin-bottom: 20px;
}

input {
    width: 350px;
    height: 50px;
    border: 1px solid #e4e3e3;
    border-radius: 5px;
    padding: 10px;
}

input:focus {
    border: none !important;
    outline: none;
}

.err-msg {
    margin: 0;
    color: brown;
}

button {
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    margin-left: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: translate3d(0, -2px, 0);
    -webkit-transform: translate3d(0, -2px, 0);
}

button.btn.btn-primary.float-right {
    border: 1px solid #4a90e2;
    background: #4a90e2;
    color: #fff;
}

button.btn.btn-success.btn-block {
    border: 1px solid #31639c;
    background: #31639c;
    color: #fff; 
}

button.btn.btn-success.btn-block:hover{
    border: 1px solid #31639cc2;
    background: #31639cc2;
}

button.btn.btn-primary.float-right:hover {
    background: #609de6;
}

button.btn.btn-secondary {
    border: 1px solid #e4dfdf;
    background: #fafafa;
    color: #252525;
}

button.btn.btn-secondary:hover {
    border-color: #252525;
}

button.btn.btn-primary.float-right:focus,
button.btn.btn-secondary:focus {
    outline: none !important;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.steps {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


.step {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid #3993e2;
    color: #3993e2;
}

.hr {
    display: flex;
    width: 15%;
    background: #3993e2;
    height: 3px;
    align-self: center;
    margin: 0 5px;
    border-radius: 100px;
}

.active-step {
    background: #3993e2;
    color: #fff
}

.modal-instance {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
